# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

# Output
src/output/LightSourceEnum.txt
src/output/lightSources.txt
src/output/LocalVisibilityMap.txt
src/output/VisibilityMap_env.txt
src/output/VisibilityMap.txt
build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-a02a0b2e4b4981f7f5d1.json
build/.cmake/api/v1/reply/cmakeFiles-v1-d675488af7c6d62cc175.json
build/.cmake/api/v1/reply/codemodel-v2-064e6a9caa5a1c7c8c8f.json
build/.cmake/api/v1/reply/index-2023-02-26T22-13-56-0149.json
build/.cmake/api/v1/reply/target-visibility_heuristic_planner-Release-14a2c77f6619f3afeec9.json
build/.cmake/api/v1/reply/toolchains-v1-5f71a698687fa40d41c8.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.20.0-rc1/CMakeCCompiler.cmake
build/CMakeFiles/3.20.0-rc1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.20.0-rc1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.20.0-rc1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.20.0-rc1/CMakeRCCompiler.cmake
build/CMakeFiles/3.20.0-rc1/CMakeSystem.cmake
build/CMakeFiles/3.20.0-rc1/CompilerIdC/a.exe
build/CMakeFiles/3.20.0-rc1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.20.0-rc1/CompilerIdCXX/a.exe
build/CMakeFiles/3.20.0-rc1/CompilerIdCXX/CMakeCXXCompilerId.cpp
output/LightSourceEnum.txt
output/lightSources.txt
output/LocalVisibilityMap.txt
output/VisibilityMap_env.txt
output/VisibilityMap.txt
build/.cmake/api/v1/reply/cache-v2-39eb56b743c15cd1153c.json
build/.cmake/api/v1/reply/cmakeFiles-v1-07f2a694e1604f875cb8.json
build/.cmake/api/v1/reply/codemodel-v2-99fda574f8d09c1bea22.json
build/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2023-02-27T12-34-55-0947.json
build/.cmake/api/v1/reply/target-visibility_heuristic_planner-Release-b66d98fde9312de27da1.json
build/.cmake/api/v1/reply/toolchains-v1-50faff77a56f6cb46601.json
build/CMakeFiles/3.25.1/CMakeCCompiler.cmake
build/CMakeFiles/3.25.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.25.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.25.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.25.1/CMakeRCCompiler.cmake
build/CMakeFiles/3.25.1/CMakeSystem.cmake
build/CMakeFiles/3.25.1/CompilerIdC/a.exe
build/CMakeFiles/3.25.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.25.1/CompilerIdCXX/a.exe
build/CMakeFiles/3.25.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
