# Mode (1 = random environment mode (default), 2 = loaded image mode)
mode=2

########### Settings relevant to random environment mode ###########
# Environment dimensions 100 by default
ncols=1000
nrows=1000
# Number of obstacles 10 by default
nb_of_obstacles=15
# Obstacle dimensions 10 20 10 20 by default
minWidth=100
maxWidth=200
minHeight=100
maxHeight=200
# Seed randomness (updates at 1/sec)
randomSeed=1
# Can fix seed value instead (only if randomSeed=0)
seedValue=25

# Settings relevant to importImage mode only
# set image full path
imagePath=C:\Workdir\Develop\IROS2023\visibility-heuristic-path-planner\images\maze_6.png

# Solver settings
start={345,391}
end={341,10}
max_iter=250
visibilityThreshold=0.2
lightStrength=1

# Solver timer
timer=1
# Save output
# Master key to turn on/off saving
saveResults=1
saveCameFrom=1
saveLightSources=1
saveGlobalVisibility=1
saveLocalVisibility=1
saveVisibilityField=1

# Turn to disable displaying loaded settings
silent=0