# Mode (turn only 1 of the two, else default to randomEnvironment)
# Generates and solves a random environment
randomEnvironment=0
# Relies on an imported binary image file
importImage=1

# Settings relevant to randomEnvironment mode only
# Environment dimensions 100 by default
nrows=101
ncols=101
# Number of obstacles 10 by default
nb_of_obstacles=15
# Obstacle dimensions 10 20 10 20 by default
minWidth=10
maxWidth=20
minHeight=10
maxHeight=20
# Seed randomness (updates at 1/sec)
randomSeed=1
# Can fix seed value instead (only if randomSeed=0)
seedValue=25

# Settings relevant to importImage mode only
# set image full path
imagePath=C:\Workdir\Develop\IROS2023\visibility-heuristic-path-planner\images\maze_1.png

# Solver settings
# in the form of {p1x,p1y} [ncols-paint_y nrows-paint_x] # 316 168 and 155 10 for the mazes
start={170,316}
end={155,6}
# start={0,0}
# end={100,100}
max_iter=250
threshold=0.2
lightStrength=1

# Solver timer
timer=1
# Save output
saveLightSourceEnum=1
saveLightSources=1
saveGlobalVisibility=1
saveLocalVisibility=1
saveVisibilityMapEnv=1

# Turn to disable displaying loaded settings
silent=0